<h1>Properties</h1>

<div>
	
	 <table class="table">
	 	<thead>
  		 <tr>
  		  	<th>Property Name</th>
  		  	<th>Address</th>
  		  	<th>Show</th>
  		 </tr>
  		</thead>
  		<tbody>
  		 <% @properties.each do |property|%>
  		 <tr>
   		 	<td><%= property.name %></td>
			<td><%= property.address %></td>
			<td><%= link_to "Show this Property",  property_path(property.id)%></td>
			

  		 </tr>
  		 <%end%>
  		</tbody>
	 </table>
	 <br>
		
</div>

