.unique { /* In Your CSS File */
   background-image: url('home_page.png');
}

.bg_for_all_pages { /* In Your CSS File */
   background-image: url('travel.jpg');
}
.link_color_change {
  color: white;
}